@import 'mixins'

html
    height 100%
    background black

#container
   margin 0 auto
   width 900px

#game-board
    background transparent url('/bg.png') top left
    width 900px 
    height 600px
